<h1>Bienvenue dans la communauté de notre boutique</h1>

<p>
    Veuillez confirmer votre email avec le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement
</p>
