{% extends 'base.html.twig' %}

{% block title %}Email de récupération de mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        Si votre compte existe, un email vous à été envoyé avec lien vous permettant de réinitialiser votre mot de passe .
        Ce lien expire dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le mail vérifiez dans les spams ou sinon <a href="{{ path('app_forgot_password_request') }}" class = "text-dark">réessayez</a>.</p>
{% endblock %}
