{# templates/faq.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Faq{% endblock %}

{% block body %}
<div class="container">
    <h1>Foire Aux Questions (FAQ)</h1>

    <h4>Commandes et Livraison</h4>
    <ol>
        <li>
            <strong>Comment puis-je passer une commande sur MY WATCH ?</strong>
            <p>
                Pour passer une commande sur MY WATCH, suivez ces étapes simples :
                <ol>
                    <li>Parcourez notre sélection de montres pour hommes.</li>
                    <li>Cliquez sur la montre de votre choix pour afficher les détails.</li>
                    <li>Cliquez sur "Ajouter au panier" pour ajouter la montre à votre panier.</li>
                    <li>Lorsque vous avez terminé vos achats, cliquez sur "Passer à la caisse" pour finaliser votre commande en fournissant vos informations de livraison et de paiement.</li>
                </ol>
            </p>
        </li>
        <li>
            <strong>Quels sont les modes de paiement acceptés ?</strong>
            <p>
                Nous acceptons les principales cartes de crédit, telles que Visa, MasterCard, et American Express. Nous proposons également des paiements via PayPal pour votre commodité.
            </p>
        </li>
        <li>
            <strong>Quels sont les frais de livraison ?</strong>
            <p>
                La livraison standard est gratuite pour toutes les commandes sur MY WATCH. Nous offrons également une option de livraison express moyennant des frais supplémentaires. Les détails des frais de livraison seront indiqués lors de la finalisation de votre commande.
            </p>
        </li>
        <li>
            <strong>Combien de temps faut-il pour recevoir ma commande ?</strong>
            <p>
                Le délai de livraison standard est généralement de 3 à 7 jours ouvrables, en fonction de votre emplacement. Pour la livraison express, vous recevrez votre commande dans les 1 à 2 jours ouvrables suivant la date d'expédition.
            </p>
        </li>
    </ol>

    <h3>Retours et Garantie</h3>
    <ol>
        <li>
            <strong>Puis-je retourner une montre si je ne suis pas satisfait ?</strong>
            <p>
                Oui, nous offrons une garantie de satisfaction de 30 jours. Si vous n'êtes pas entièrement satisfait de votre achat, vous pouvez retourner la montre dans les 30 jours suivant la réception pour un remboursement complet ou un échange.
            </p>
        </li>
        <li>
            <strong>Quelle est la garantie sur les montres MY WATCH ?</strong>
            <p>
                Toutes nos montres sont couvertes par une garantie de 2 ans à compter de la date d'achat. Cette garantie couvre les défauts de fabrication et les problèmes de mouvement. Consultez notre page de garantie pour plus de détails.
            </p>
        </li>
    </ol>


</div>
{% endblock %}
