<form method="post" action="{{ path('app_admin_montre_delete', {'id': montre.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette montre?');"class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ montre.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather= "trash"></i></button>
</form>
