<footer class="d-flex flex-column flex-md-row justify-content-around bg-light border border-dark p-3">
    &copy; {{""|date('Y')}} by MY_WATCH
    <a href="" class="text-dark">Mentions légales</a>
    <a href="" class="text-dark">Politiques en matière de cookies</a>
    <a href="" class="text-dark">Politiques de confidentialité</a>
    <div class="d-flex flex-column">
        <a href="" class="text-dark">Conditions d'utilisation</a>
        <div class="d-flex align-items-center justify-content-sm-around p-1">
            <a href="" class="text-dark"><i class="fa-brands fa-facebook"></i></a>
            <a href="" class="text-dark"><i class="fa-brands fa-instagram" style="color: #191d2e;"></i></a>
            <a href="" class="text-dark"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>
