{% extends 'base-backend.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_boutique_index') }}" class="btn btn-dark btn-sm mb-2" >Retour à la liste</a>
    <h1> Nouvelle Boutique/Catégorie</h1>

    {{ include('admin_boutique/_form.html.twig') }}

{% endblock %}
